@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')
$font-stack: Poppins
body
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
#card
    background: #F6F6F6
    width: 70vw
    height: 80vh
#title
    font-family: $font-stack
    font-size: 1.5rem
    font-weight: 600
.orange-text
    color: #FBAC18
.blue-text
    color: #28397F