@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')
$font-stack: Poppins, sans-serif
$blue: #28397F
$orange: #FBAC18
$bold-font-weight: 700
$green: #33853C
$red: #7F2828
$card-background: #E2E2E2
:root
    font-family: $font-stack
    font-weight: $bold-font-weight
